@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: Proxima Nova, Poppins, sans-serif;
    scroll-behavior: smooth;
  }
  body {
    @apply bg-[#09001D] h-screen w-screen;
  }
}
